<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatBot_DINT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ChatBot_DINT.Properties.Settings>
            <setting name="colorFondo" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
            <setting name="colorUsuario" serializeAs="String">
                <value>LightSkyBlue</value>
            </setting>
            <setting name="colorRobot" serializeAs="String">
                <value>Wheat</value>
            </setting>
            <setting name="sexo" serializeAs="String">
                <value>Chico</value>
            </setting>
        </ChatBot_DINT.Properties.Settings>
    </userSettings>
</configuration>